.app-home {
  height: 100%;
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#value {
  font-size: 150px;
  color: #000;
  font-weight: 900;
}

.btn {
  display: flex;
  background: #5851ff;
  color: #FFF;
  height: 325px;
  width: 350px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 900;
  font-size: 100px;
}